{{ define "Footer" }}
    </mian>
<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="d-flex justify-content-between py-4 my-4 border-top position-relative bottom-0 start-50 translate-middle-x">
            <p>&copy; DATA </p>
        </div>
    </footer>
</div>



    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap.js"></script>

    </html>

{{ end }}